.industria{
    background-color: #fff;
    padding: 50px 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:3px solid #ccc;
    border-top: 3px solid #ccc;
}
.industria .logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    gap: 70px;
    img{
        width: 125px;
        height: auto;
    }
}