.bg-team{
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url("../img/complementos/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}